<nav class="side-nav" [class.open]="isOpen">
  <div class="nav-header">
  </div>
  
  <ul class="nav-list">
    <li class="nav-item" routerLink="/today" routerLinkActive="active" (click)="navigateToToday()">
      <span class="material-icons">today</span>
      <span>Today</span>
    </li>
    <li class="nav-item">
      <span class="material-icons">inbox</span>
      <span>Inbox</span>
    </li>
    <li class="nav-item">
      <span class="material-icons">date_range</span>
      <span>Next 7 days</span>
    </li>

    <li class="nav-item"  >
      <span class="material-icons">waving_hand</span>
      <span>Welcome</span>
    </li>
   </ul>


     <li class="nav-section-header">
      <span>CATEGORIES</span>
      <button class="add-category-btn" (click)="showAddCategoryModal()">
        <span class="material-icons">add</span>
      </button>
    </li>

    <ul class="nav-list">
      <li class="nav-item category-item" 
      *ngFor="let category of categories"
          (click)="openCategory(category)"
          [class.active]="activeCategory === category"
          (click)="onCategoryClick(category)">

        <span class="material-icons">folder</span>
        <span class="category-name">{{ category }}</span>

        <div class="category-actions">
        <button class="action-btn" (click)="$event.stopPropagation()">
          <span class="material-icons">more_vert</span>
        </button>

      

        <div class="action-menu">
    <button (click)="deleteCategory(category)">
      <span class="material-icons">delete</span> Delete
    </button>
  </div>
      </div>
      </li>
    </ul>

   <div class="nav-section">
      <ul class="nav-list">
        <li class="nav-item">
          <span class="material-icons">check_box</span>
          <span>Completed</span>
        </li>
        <li class="nav-item">
          <span class="material-icons">delete</span>
          <span>Trash</span>
        </li>
      </ul>
    </div>

     <app-add-category 
    *ngIf="showModal"
    (categoryAdded)="handleCategoryAdded($event)"
    (closeModalEvent)="hideAddCategoryModal()">
  </app-add-category>
</nav>

<app-add-task 
*ngIf="activeCategory"
  [categoryName]="activeCategory"
  [isActive]="!!activeCategory"
  (closeCategory)="closeCategory()">

</app-add-task>

